snippet sin "Snippet for inserting a Timeless Pavel Simple/Sinister practice session todo"
(W) wod: Pavel Timeless Simple ${1:LR} ${2:2} @ ${3:35}#${4:, ${5:8} @ ${6:53}#};${0}
endsnippet

snippet sint "Snippet for inserting a Timed Pavel Simple/Sinister practice session todo"
(W) wod: Pavel Timed Simple ${1:LR} ${2:10} @ ${3:35}#${4:, ${5:0} @ ${6:53}#};${0}
endsnippet
