snippet sin "Snippet for inserting a Timeless Pavel Simple/Sinister practice session todo"
(W) wod: Pavel Timeless Simple ${1:LR} ${2:2} @ ${3:35}#${4:, ${5:8} @ ${6:53}#};${0}
endsnippet

snippet sint "Snippet for inserting a Timed Pavel Simple/Sinister practice session todo"
(W) wod: Pavel Timed Simple ${1:LR} ${2:10} @ ${3:35}#${4:, ${5:0} @ ${6:53}#};${0}
endsnippet

snippet sinc "Snippet for inserting a comples Timeless Pavel Simple/Sinister practice session todo"
(W) wod: Pavel Timeless Simple ${1:LR} {swings: ${2:2} @ ${3:35}#${4:, ${5:8} @ ${6:53}#}} {getups: ${7:2} @ ${8:35}#${9:, ${10:8} @ ${11:53}#}};${0}
endsnippet

# https://www.strongfirst.com/plans-for-building-powerful-pushups/
snippet sfpushmax "SF Elite Instructor Jody Beasly Powerful Pushup Program: Finding Max"
(W) wod: StrongFirst ${1:Explosive }Pushup Max: ${2:22}${0}
endsnippet

snippet sfpushsession "SF Elite Instructor Jody Beasly Powerful Pushup Program: Practice Session"
(W) wod: StrongFirst ${1:Explosive }Pushup Practice Session: (day ${2:1} of 3) - ${3:3} sets of ${4:11}${0}
endsnippet
